apiVersion: kubeflow.org/v1
kind: Notebook
metadata:
  annotations:
    notebooks.opendatahub.io/inject-oauth: 'true'
    opendatahub.io/image-display-name: CUSTOM - Insurance Claim Processing Lab Workbench
    notebooks.opendatahub.io/oauth-logout-url: {{ .Values.app.dashboard.route }}/projects/{{ .Values.app.namespace }}?notebookLogout={{ .Values.app.workbench.name }}
    opendatahub.io/accelerator-name: ''
    openshift.io/description: ''
    openshift.io/display-name: My Workbench
    notebooks.opendatahub.io/last-image-selection: {{ .Values.app.workbench.image }}
    notebooks.opendatahub.io/last-size-selection: Standard
    opendatahub.io/username: {{ .Values.app.user }}
    argocd.argoproj.io/sync-wave: "-1"
  name: {{ .Values.app.workbench.name }}
  namespace: {{ .Values.app.namespace }}
  labels:
    app: {{ .Values.app.workbench.name }}
    opendatahub.io/dashboard: 'true'
    opendatahub.io/odh-managed: 'true'
    opendatahub.io/user: {{ .Values.app.user }}
spec:
  template:
    spec:
      affinity: {}
      containers:
        - resources:
            limits:
              cpu: '2'
              memory: 8Gi
            requests:
              cpu: '1'
              memory: 6Gi
          readinessProbe:
            failureThreshold: 3
            httpGet:
              path: /notebook/{{ .Values.app.namespace }}/{{ .Values.app.workbench.name }}/api
              port: notebook-port
              scheme: HTTP
            initialDelaySeconds: 10
            periodSeconds: 5
            successThreshold: 1
            timeoutSeconds: 1
          name: {{ .Values.app.workbench.name }}
          livenessProbe:
            failureThreshold: 3
            httpGet:
              path: /notebook/{{ .Values.app.namespace }}/{{ .Values.app.workbench.name }}/api
              port: notebook-port
              scheme: HTTP
            initialDelaySeconds: 10
            periodSeconds: 5
            successThreshold: 1
            timeoutSeconds: 1
          env:
            - name: NOTEBOOK_ARGS
              value: |-
                --ServerApp.port=8888
                                  --ServerApp.token=''
                                  --ServerApp.password=''
                                  --ServerApp.base_url=/notebook/{{ .Values.app.namespace }}/{{ .Values.app.workbench.name }}
                                  --ServerApp.quit_button=False
                                  --ServerApp.tornado_settings={"user":"{{ .Values.app.user }}","hub_host":"{{ .Values.app.dashboard.route }}","hub_prefix":"/projects/{{ .Values.app.namespace }}"}
            - name: JUPYTER_IMAGE
              value: >-
                image-registry.openshift-image-registry.svc:5000/redhat-ods-applications/{{ .Values.app.workbench.image }}
            - name: PIP_CERT
              value: /etc/pki/tls/custom-certs/ca-bundle.crt
            - name: REQUESTS_CA_BUNDLE
              value: /etc/pki/tls/custom-certs/ca-bundle.crt
            - name: SSL_CERT_FILE
              value: /etc/pki/tls/custom-certs/ca-bundle.crt
            - name: PIPELINES_SSL_SA_CERTS
              value: /etc/pki/tls/custom-certs/ca-bundle.crt
            - name: GIT_SSL_CAINFO
              value: /etc/pki/tls/custom-certs/ca-bundle.crt
          ports:
            - containerPort: 8888
              name: notebook-port
              protocol: TCP
          imagePullPolicy: Always
          volumeMounts:
            - mountPath: /opt/app-root/src
              name: {{ .Values.app.workbench.name }}
            - mountPath: /opt/app-root/runtimes
              name: elyra-dsp-details
            - mountPath: /dev/shm
              name: shm
            - mountPath: /etc/pki/tls/custom-certs/ca-bundle.crt
              name: trusted-ca
              readOnly: true
              subPath: ca-bundle.crt
          envFrom:
            - secretRef:
                name: aws-connection-shared-minio---pipelines
          image: >-
            image-registry.openshift-image-registry.svc:5000/redhat-ods-applications/{{ .Values.app.workbench.image }}
          workingDir: /opt/app-root/src
          lifecycle:
            postStart:
              exec:
                command:
                  - /bin/bash
                  - '-ec'
                  - >-
                    rm -rf check-confidence-self-hosted-llm

                    git clone https://{{ .Values.git.host}}/workbench-setup/check-confidence-self-hosted-llm.git

                    sed -i 's/VAR_MODEL_NAME/{{ .Values.app.model.name }}/g' check-confidence-self-hosted-llm/*

                    sed -i 's/VAR_NAMESPACE/{{ .Values.app.namespace }}/g' check-confidence-self-hosted-llm/*

                    pip install langchain langchain_community openai

                    pip install -U langchain-huggingface
        - resources:
            limits:
              cpu: 100m
              memory: 64Mi
            requests:
              cpu: 100m
              memory: 64Mi
          readinessProbe:
            failureThreshold: 3
            httpGet:
              path: /oauth/healthz
              port: oauth-proxy
              scheme: HTTPS
            initialDelaySeconds: 5
            periodSeconds: 5
            successThreshold: 1
            timeoutSeconds: 1
          name: oauth-proxy
          livenessProbe:
            failureThreshold: 3
            httpGet:
              path: /oauth/healthz
              port: oauth-proxy
              scheme: HTTPS
            initialDelaySeconds: 30
            periodSeconds: 5
            successThreshold: 1
            timeoutSeconds: 1
          env:
            - name: NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
          ports:
            - containerPort: 8443
              name: oauth-proxy
              protocol: TCP
          imagePullPolicy: Always
          volumeMounts:
            - mountPath: /etc/oauth/config
              name: oauth-config
            - mountPath: /etc/tls/private
              name: tls-certificates
          image: >-
            registry.redhat.io/openshift4/ose-oauth-proxy@sha256:4bef31eb993feb6f1096b51b4876c65a6fb1f4401fee97fa4f4542b6b7c9bc46
          args:
            - '--provider=openshift'
            - '--https-address=:8443'
            - '--http-address='
            - '--openshift-service-account={{ .Values.app.workbench.name }}'
            - '--cookie-secret-file=/etc/oauth/config/cookie_secret'
            - '--cookie-expire=24h0m0s'
            - '--tls-cert=/etc/tls/private/tls.crt'
            - '--tls-key=/etc/tls/private/tls.key'
            - '--upstream=http://localhost:8888'
            - '--upstream-ca=/var/run/secrets/kubernetes.io/serviceaccount/ca.crt'
            - '--email-domain=*'
            - '--skip-provider-button'
            - >-
              --openshift-sar={"verb":"get","resource":"notebooks","resourceAPIGroup":"kubeflow.org","resourceName":"{{ .Values.app.workbench.name }}","namespace":"$(NAMESPACE)"}
            - >-
              --logout-url={{ .Values.app.dashboard.route }}/projects/{{ .Values.app.namespace }}?notebookLogout={{ .Values.app.workbench.name }}
      enableServiceLinks: false
      serviceAccountName: {{ .Values.app.workbench.name }}
      volumes:
        - name: {{ .Values.app.workbench.name }}
          persistentVolumeClaim:
            claimName: {{ .Values.app.workbench.name }}
        - name: elyra-dsp-details
          secret:
            secretName: ds-pipeline-config
        - emptyDir:
            medium: Memory
          name: shm
        - configMap:
            items:
              - key: ca-bundle.crt
                path: ca-bundle.crt
            name: workbench-trusted-ca-bundle
            optional: true
          name: trusted-ca
        - name: oauth-config
          secret:
            defaultMode: 420
            secretName: {{ .Values.app.workbench.name }}-oauth-config
        - name: tls-certificates
          secret:
            defaultMode: 420
            secretName: {{ .Values.app.workbench.name }}-tls
